.todo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.todo__item {
  border-style: none;
  height: 30px;
  width: 80%;
  font-size: 20px;
  font-family: "Pontano Sans", sans-serif;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-color: rgb(224, 139, 11);
  padding-left: 10px;
  border-radius: 0px 0px 0px 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.todo__add {
  border-style: none;
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-color: rgb(224, 139, 11);
  border-radius: 0px 5px 0px 0px;
  color: rgb(224, 139, 11);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.tasks {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.tasks__task {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  font-size: 25px;
}

.tasks__task__del {
  border-style: none;
  font-size: 20px;
  color: red;
  background-color: transparent;
}

.tasks__task__check {
  background-color: transparent;
  color: blue;
  cursor: pointer;
  border-style: none;
  font-size: 20px;
}
.tasks__task__check--completed {
  color: lightgray;
}

.tasks__task__title--completed {
  text-decoration: line-through;
  color: lightgray;
}

.day__practice {
  display: flex;
  justify-content: center;
}

.day__practice__smile {
  border-radius: 5px;
  opacity: 0.6;
  font-size: 30px;
  cursor: pointer;
}

.day__practice__smile--true {
  background-color: orange;
  opacity: 1;
}

.day__practice__msg {
  font-size: 30px;
}
