.practice {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  border: 1px solid #eeeeef;
  border-radius: 3px;
  padding: 12px;
}

.practice__title__box {
  width: 100%;
  border-bottom: 1px solid #eeeeef;
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
}
.practice__title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.practice__form {
  margin: 10px;
}

.practice__status__btn {
  width: 50px;
  border: 2px solid rgb(8, 95, 117);

  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  padding: 2px;
}
.practice__status--true {
  background-color: orange;
  color: white;
}
.practice__box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.practice__time {
  box-sizing: border-box;
  max-width: 50px;
  border: 2px solid rgb(8, 95, 117);
  padding: 2px;
}

.practice__submit {
  width: 500px;
  border: none;
  background-color: rgb(8, 95, 117);
  color: white;
  font-size: 14px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

.message {
  text-align: center;
}
