.note {
  margin: 20px;
  border: 1px solid #eeeeef;
  border-radius: 3px;
  padding: 12px;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

.note__date {
  color: black;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;

  text-align: right;
}
