.tmr {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 230px;
  overflow-y: scroll;
  margin: 20px;
  border: 1px solid #eeeeef;
  border-radius: 3px;
  padding: 12px;
}

.tmr__title__box {
  width: 100%;
  /* border-bottom: 1px solid #eeeeef; */
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
}

.tmr__title {
  font-size: 15px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eeeeef;
}

.tmr__title__box__list {
  font-size: 15px;
  text-align: left;
}

.tmr__add {
  font-size: 12px;

  color: #333;
  text-transform: uppercase;
}
.tmr__add:hover {
  text-decoration: underline;
}
