.banner {
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 2;
  background-color: rgb(8, 95, 117);
}

.header {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.header__logo__img {
  height: 35px;
  color: white;
  margin-right: 4px;
}

.title {
  font-family: "Handlee", cursive;
  color: white;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.header__nav {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__nav__link {
  text-decoration: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
  color: #f3f3f3;
  cursor: pointer;
  padding: 0 0.5em;
  font-weight: lighter;
}

.header__nav__link:hover {
  color: lightgrey;
}

@media only screen and (min-width: 1050px) {
  .banner {
    height: 60px;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
    height: 60px;
  }

  .title {
    font-size: 2em;
  }
  .header__logo__img {
    height: 50px;
  }
}
