.stats {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 230px;

  margin: 20px;
  border: 1px solid #eeeeef;
  border-radius: 3px;
  padding: 12px;
}
.stats__title__box {
  width: 100%;
  border-bottom: 1px solid #eeeeef;
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
}

.stats__title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.stat__reset {
  border: none;
  background-color: rgb(8, 95, 117);
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

.day__stat {
  font-size: 18px;
  text-align: left;
}

.day__stat__num {
  color: rgb(255, 165, 0);
}
