.stats {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.stats__title__box {
  width: 100%;
  border-bottom: 1px solid #eeeeef;
  border-radius: 3px;
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
}

.stats__title {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.stats__log {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stat__reset {
  border: none;
  background-color: rgb(8, 95, 117);
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

.day__stat {
  font-size: 18px;
  text-align: left;
}

.day__stat__num {
  color: rgb(255, 165, 0);
}
