:root {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fas {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-style: none;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pontano Sans", sans-serif;

  height: 100vh;

  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
}

main {
  padding-top: 140px;
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  border: 1px solid #eeeeef;
  border-radius: 3px;
}

button {
  font-family: "Pontano Sans", sans-serif;
}
a {
  cursor: pointer;
}
