.notepad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
  box-sizing: border-box;
  margin-top: 50px;
}

textarea {
  width: 300px;
  height: 300px;
  font: normal 14px verdana;
  line-height: 25px;
  box-sizing: border-box;
  padding-left: 20px;
  border: none;
  resize: none;
  box-shadow: 8px 5px 10px #e6e6e6, 0 6px 6px #e6e6e6;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 10px;
}

.notepad__submit {
  width: 300px;
  border: none;
  background-color: rgb(8, 95, 117);
  box-shadow: 8px 5px 10px #e6e6e6, 0 6px 6px #e6e6e6;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  height: 25px;
  cursor: pointer;
}
