.notepad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

textarea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 400px;
  min-height: 400px;

  border-radius: 3px;
  padding: 12px;
  font: normal 14px verdana;
  line-height: 25px;
  box-sizing: border-box;
  padding-left: 20px;

  border: 1px solid #eeeeef;
  resize: none;
}

.notepad__submit {
  width: 100%;
  border: none;
  background-color: rgb(8, 95, 117);

  color: white;
  font-size: 14px;
  height: 25px;
  cursor: pointer;
}
